<header>
  <a class="icon" id="logo" routerLink="/" routerLinkActive="active"><i class="fas fa-infinity"></i></a>
  <div class="nine90">
    <a class="icon" id="menu" (click)="toggleMenu($event)"><i class="fas fa-bars"></i></a>
    <a class="icon login" routerLink="/customers/login" routerLinkActive="active" *ngIf="!isLoggedIn" title="Login"><i class="fas fa-sign-in-alt"></i></a>
    <a class="icon logout" *ngIf="isLoggedIn" (click)="onLogout()" routerLinkActive="active" title="Logout"><i class="fas fa-sign-out-alt"></i></a>
    <nav class="container" [@slideDown]="slideDownState">
      <div class="navItemContainer">
        <a class="navItem home" routerLink="/" (click)="goto('/')" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i class="fas fa-home"></i></a>
      </div>
      <div class="navItemContainer">
        <a routerLink="results" class="navItem" (click)="goto('/results')" routerLinkActive="active">Results</a>
      </div>
    </nav>
  </div>
</header>

