.singleSelect {
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #999;
  position: relative;
}

.singleSelect .singleSelectList {
  position: absolute;
  top: 38px;
  left: 0;
  z-index: 4;
  width: 100%;
  background: white;
}

.singleSelect button {
  background: none;
  padding: 12px 10px;
  border: 1px solid #ccc;
  color: #7d7a7a;
  height: auto;
  width: 100%;
  text-align: left;
  outline: none;
  position: relative;
}

.singleSelect .fa-chevron-down, .singleSelect .fa-chevron-up {
  color: #ccc;
  font-size: 12px;
  text-align: right;
}

.singleSelect span {
  display: inline-block;
}

.singleSelect .icon,
.singleSelect .iconToggle {
  width: 38px;
  text-align: right;
  position: absolute;
  right: 8px;
  top: 8px;
}

.singleSelect .iconToggle {
  top: 10px;
}

.singleSelect .listItem {
  padding: 10px;
  border: 1px solid #ccc;
  color: #999;
  cursor: pointer;
  border-bottom: none;
  position: relative;
}

.singleSelect .listItem:last-child {
  border-bottom: 1px solid #ccc;
}

.singleSelect .listItem:hover, .singleSelect button:hover {
  background: aliceblue;
}

.singleSelect.selected .listItem:first-child {
  border-top: 1px solid #ccc;
}
