<p class="starRating">
  <span class="noStars" *ngIf="pollRating.starClass === 'noStars'">
    <span class="fas fa-star"></span>
    <span class="fas fa-star"></span>
    <span class="fas fa-star"></span>
    <span class="fas fa-star"></span>
    <span class="fas fa-star"></span>
  </span>
  <span class="oneStar" *ngIf="pollRating.starClass === 'oneStar'">
    <span class="fas fa-star checked"></span>
    <span class="fas fa-star"></span>
    <span class="fas fa-star"></span>
    <span class="fas fa-star"></span>
    <span class="fas fa-star"></span>
  </span>
  <span class="oneAndAHalfStars" *ngIf="pollRating.starClass === 'oneAndAHalfStars'">
    <span class="fas fa-star checked"></span>
    <span class="fas fa-star"></span>
    <span class="fas fa-star-half checked"></span>
    <span class="fas fa-star"></span>
    <span class="fas fa-star"></span>
    <span class="fas fa-star"></span>
  </span>
  <span class="twoStars" *ngIf="pollRating.starClass === 'twoStars'">
    <span class="fas fa-star checked"></span>
    <span class="fas fa-star checked"></span>
    <span class="fas fa-star"></span>
    <span class="fas fa-star"></span>
    <span class="fas fa-star"></span>
  </span>
  <span class="twoAndAHalfStars" *ngIf="pollRating.starClass === 'twoAndAHalfStars'">
    <span class="fas fa-star checked"></span>
    <span class="fas fa-star checked"></span>
    <span class="fas fa-star"></span>
    <span class="fas fa-star-half checked"></span>
    <span class="fas fa-star"></span>
    <span class="fas fa-star"></span>
  </span>
  <span class="threeStars" *ngIf="pollRating.starClass === 'threeStars'">
    <span class="fas fa-star checked"></span>
    <span class="fas fa-star checked"></span>
    <span class="fas fa-star checked"></span>
    <span class="fas fa-star"></span>
    <span class="fas fa-star"></span>
  </span>
  <span class="threeAndAHalfStars" *ngIf="pollRating.starClass === 'threeAndAHalfStars'">
    <span class="fas fa-star checked"></span>
    <span class="fas fa-star checked"></span>
    <span class="fas fa-star checked"></span>
    <span class="fas fa-star"></span>
    <span class="fas fa-star-half checked"></span>
    <span class="fas fa-star"></span>
  </span>
  <span class="fourStars" *ngIf="pollRating.starClass === 'fourStars'">
    <span class="fas fa-star checked"></span>
    <span class="fas fa-star checked"></span>
    <span class="fas fa-star checked"></span>
    <span class="fas fa-star checked"></span>
    <span class="fas fa-star"></span>
  </span>
  <span class="fourAndAHalfStars" *ngIf="pollRating.starClass === 'fourAndAHalfStars'">
    <span class="fas fa-star checked"></span>
    <span class="fas fa-star checked"></span>
    <span class="fas fa-star checked"></span>
    <span class="fas fa-star checked"></span>
    <span class="fas fa-star"></span>
    <span class="fas fa-star-half checked"></span>
  </span>
  <span class="fiveStars" *ngIf="pollRating.starClass === 'fiveStars'">
    <span class="fas fa-star checked"></span>
    <span class="fas fa-star checked"></span>
    <span class="fas fa-star checked"></span>
    <span class="fas fa-star checked"></span>
    <span class="fas fa-star checked"></span>
  </span>
</p>
