<div class="signup">
    <form (submit)="onSignup(signupForm)" #signupForm="ngForm" class="card">
        <input type="email" autofocus ngModel name="email" #email="ngModel" placeholder="Please enter your email" required email>
        <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
          Please enter a valid email
        </div>
        <input type="password" ngModel name="password" #password="ngModel" placeholder="Please enter a password" required>
        <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
          Please enter a password
        </div>
        <button type="submit" class="primary">Signup</button>
    </form>
    <!-- <div *ngIf="hasError" class="alert alert-danger">
      An error has occured
    </div> -->
  </div>
