.productModal {
  width: 310px;
  height: 200px;
  top: -300px;
  position: relative;
  z-index: 10;
  background: white;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

.productModal.slideDown {
  transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  top: 30px;
}

.productModalHeader {
  background: red;
  color: white;
}

.productModalFooter {
  background: grey;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: right;
}

.productModalContent, .productModalHeader, .productModalFooter {
  padding: 6px 12px;
}

.productModalContent {
  padding-top: 12px;
}

.productModalContent, .productModalHeader {
  text-align: left;
}

.productModal button {
  margin-left: 12px;
}

.productModal span {
  display: inline-block;
  width: 50%;
}

.productModal .fa-exclamation-triangle {
  color: white;
  font-size: 36px;
}

.productModal .title {
  font-size: 14px;
  position: relative;
  top: -8px;
}

@media only screen and (min-device-width: 768px) and (-webkit-min-device-pixel-ratio: 1) {
  .productModal {
    width: 500px;
    height: 300px;
  }
}
