// * {
//   box-sizing: border-box;
// }

// html {
//   background: url('/assets/stripe3.jpg') repeat-y center;
// }

// body {
//   font-family: Verdana, Geneva, Tahoma, sans-serif;
//   color: #7d7a7a;
//   margin: 0;
//   font-size: 13px;
// }

// .responsive {
//   width: 100%;
//   height: auto;
// }

// header, main {
//   max-width: 990px;
//   margin: 0 auto;
// }

// header {
//   background: none;
// }

// .capitalise {
//   text-transform: capitalize;
// }

// .container {
//   display: flex;
//   flex-direction: column;
// }

// .flex1 {
//   flex: 1;
// }

// .flex2 {
//   flex: 2;
// }

// .thirdContainer {
//   display: flex;
//   flex-direction: column;
// }

// .third {
//   /* width: 33.33%; */
//   flex: 1;
// }

// .halfContainer {
//   display: flex;
//   flex-direction: column;
// }

// .half {
//   /* width: 50%; */
//   flex: 1;
// }

// .quarterContainer {
//   display: flex;
//   flex-direction: column;
// }

// .quarter {
//   /* width: 25%; */
//   flex: 1;
// }

// h1, h2, h3, h4, h5 {
//   margin: 10px;
//   font-weight: 400;
// }

// router-outlet {
//   display: none;
// }

// #overlay {
//   background: #000;
//   opacity: .6;
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   left: 0;
//   top: 0;
//   z-index: 2;
// }

// .mainContainer {
//   max-width: 1000px;
//   margin: 0 auto;
// }

// .main {
//   flex: 1;
// }

// .header, .aside, .footer, .main {
//   text-align: left;
//   padding: 10px 15px;
// }

// .aside, .footer, .main {
//   background-color: rgba(255, 255, 255, 0.8);
// }

// .headerLink {
//   margin-top: 0;
//   margin-left: auto;
//   margin-right: auto;
//   width: 320px;
//   height: 74px;
//   display: block;
// }

// .aside {
//   background-color: rgb(198, 201, 226);
//   text-align: left;
//   color: #ccc;
//   padding: 0 15px;
// }

// .footer {
//   background-color: rgb(198, 201, 226);
//   text-align: left;
//   color: #ccc;
// }

// nav ul {
//   list-style-type: none;
//   padding: 0;
// }

// button {
//   border-radius: 4px;
//   background-color: #f4df8c;
//   border: none;
//   color: #fff;
//   padding: 5px 10px;
//   cursor: pointer;
//   text-shadow: none;
//   box-shadow: none;
//   width: auto;
//   height: 30px;
//   line-height: 1;
//   font-family: Verdana, Geneva, Tahoma, sans-serif;
// }

// button:hover {
//   background: #d68742;
// }

// button.delete {
//   background: red;
//   color: white;
// }

// button.cancel {
//   background: orange;
//   color: white;
// }

// button.ok {
//   background: green;
//   color: white;
// }

// .linkText, .linkText:active, .linkText:visited, .linkIcon {
//   color: #2c56a7;
// }

// .linkText:hover, .linkIcon:hover {
//   color: #192844;
// }

// .linkItem {
//   text-decoration: underline;
// }

// .upperCase {
//   text-transform: uppercase;
// }

// .bold {
//   font-weight: bold;
// }

// .fas {
//   text-decoration: none;
// }

// .fa-chevron-down, .fa-chevron-up, .fa-times-circle, .fa-pencil-square-o {
//   padding-right: 5px;
// }

// table {
//   border-collapse: collapse;
//   width: 100%;
// }

// td, th {
//   border: 1px solid #efefef;
//   text-align: left;
//   padding: 8px;
// }

// td .capitalise, th .capitalise {
//   text-transform: capitalize;
// }

// tr:hover, tr:nth-child(even):hover {
//   background: #F3F4D5;
// }

// tr:nth-child(even) {
//   background-color: #e4e4e4;
// }

// .moreInfoToggle {
//   margin-bottom: 10px;
// }

// input[type=text], input[type=email], input[type=password], input[type=number], textarea, select {
//   width: 100%;
//   padding: 10px 12px;
//   margin: 8px 0;
//   display: inline-block;
//   border: 1px solid #ccc;
//   border-radius: 4px;
//   box-sizing: border-box;
//   font-family: Verdana, Geneva, Tahoma, sans-serif;
//   color: #999;
// }

// input[type=text].search {
//   width: 200px;
//   margin: 0;
// }

// input[type=number] {
//   width: 80px;
// }

// label {
//   font-weight: 600;
// }

// .labelOnTop {
//   display: flex;
//   flex-direction: column;
//   margin: 8px 12px 8px 0;
// }

// .labelLeft {
//   display: inline-block;
//   margin-top: 0;
// }

// .labelLeft {
//   padding-right: 10px;
// }

// .labelOnTop input[type=text] {
//   margin-top: 0;
// }

// .labelOnTop label {
//   padding-left: 4px;
//   padding-bottom: 6px;
// }

// .ng-valid[required], .ng-valid.required  {
//   border-left: 5px solid lightgreen;
// }

// .ng-invalid:not(form)  {
//   border-left: 5px solid #F9C9C8;
// }

// .alert {
//   margin-top: -10px;
//   width: 100%;
//   padding: 12px 20px;
//   text-align: left;
// }
// .alert-danger {
//   background: #F2DEDE;
//   color:red;
// }

// .full {
//   width: 100%
// }

// .right {
//   text-align: right;
// }

// .card {
//   border-radius: 3px;
//   background-color: #ffffff;
//   box-shadow: 0 2px 5px 0 #cbcbcb;
//   padding: 10px;
//   margin-bottom: 10px;
//   border: 1px solid #ddd;
//   margin-bottom: 15px;
//   position: relative;
//   min-height: 100px;
// }

// .half:first-child {
//   margin-right: 0;
// }

// @media only screen and (min-device-width: 768px) and (-webkit-min-device-pixel-ratio: 1) {
//   .main {
//     flex: 3;
//   }

//   .container {
//     display: flex;
//     flex-direction: row;
//   }

//   .thirdContainer {
//     flex-direction: row;
//   }

//   .halfContainer {
//     flex-direction: row;
//   }

//   .half:first-child {
//     margin-right: 15px;
//   }

//   .quarterContainer {
//     flex-direction: row;
//   }
// }

// @media only screen and (min-device-width: 960px) and (-webkit-min-device-pixel-ratio: 1) {
//   .headerLink {
//     width: 100%;
//     height: 100px;
//     display: inline-block;
//     margin-top: 15px;
//   }
// }

/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #7d7a7a;
  margin: 0;
  font-size: 14px;
}

header, main {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.pad10 {
  padding: 10px;
}

.bgContrast {
  background: aliceblue;
  padding: 10px 0;
}

.nine90 {
  max-width: 990px;
  margin: 0 auto;
  text-align: left;
}

header {
  background: none;
}

.capitalise,
.capitalize {
  text-transform: capitalize;
}

.container {
  display: flex;
  flex-direction: column;
}

.flex1 {
  flex: 1;
}

h1, h2, h3, h4, h5 {
  margin: 10px;
}

router-outlet {
  display: none;
}

#overlay {
  background: #000;
  opacity: .6;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
}

.main {
  flex: 1;
}

.header, .aside, .footer, .main {
  text-align: left;
  padding: 10px 15px;
}

.aside, .footer, .main {
  background-color: rgba(255, 255, 255, 0.8);
}

.headerLink {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  height: 74px;
  display: block;
}

.aside {
  background-color: rgb(198, 201, 226);
  text-align: left;
  color: #ccc;
  padding: 0 15px;
}

.footer {
  background-color: rgb(198, 201, 226);
  text-align: left;
  color: #ccc;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

button {
  border-radius: 4px;
  background-color: #7A5691;
  border: none;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  text-shadow: none;
  box-shadow: none;
  width: auto;
  height: 30px;
  line-height: 1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button:hover {
  background: purple;
}

button.delete {
  background: red;
  color: white;
}

button.cancel {
  background: orange;
  color: white;
}

button.ok {
  background: #7A5691;
  color: white;
}

.linkText, .linkText:active, .linkText:visited, .linkIcon {
  color: #7A5691;
}

.linkText:hover, .linkIcon:hover {
  color: purple;
}

.linkItem {
  text-decoration: underline;
}

.upperCase {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.fas {
  text-decoration: none;
}

.fa-chevron-down, .fa-chevron-up, .fa-times-circle, .fa-pencil-square-o {
  padding-right: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #efefef;
  text-align: left;
  padding: 8px;
}

td .capitalise, th .capitalise {
  text-transform: capitalize;
}

tr:hover, tr:nth-child(even):hover {
  background: #F3F4D5;
}

tr:nth-child(even) {
  background-color: #e4e4e4;
}

.moreInfoToggle {
  margin-bottom: 10px;
}

form {
  position: relative;
}

input[type=text], input[type=email], input[type=password], input[type=number], textarea, select {
  width: 100%;
  padding: 10px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #999;
}

input[type=text].search {
  width: 200px;
  margin: 0;
}

input[type=number] {
  width: 80px;
}

label {
  font-weight: 600;
}

.labelOnTop {
  display: flex;
  flex-direction: column;
  margin: 8px 12px 8px 0;
  position: relative;
  text-align: left;
}

.labelLeft {
  display: inline-block;
  margin-top: 0;
}

.formCreate.card.nine90 {
  margin-top: 10px;
}

.labelLeft {
  padding-right: 10px;
}

.labelOnTop input[type=text],
.labelOnTop input[type=password] {
  margin-top: 0;
}

.labelOnTop label {
  padding-left: 4px;
  padding-bottom: 6px;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid lightgreen;
}

.ng-invalid:not(form)  {
  border-left: 5px solid #F9C9C8;
}

.alert {
  bottom: -35px;
  width: 100%;
  padding: 12px 20px;
  text-align: left;
  position: absolute;
  z-index: 3;
  min-width: 200px;
}
.alert-danger {
  background: #F2DEDE;
  color:red;
}

.full {
  width: 100%
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.half {
  width: 50%;
}

.formButtons .cancel {
  margin-right: 10px;
}

.formButtons {
  padding: 15px 0 5px 0;
}

.card {
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px 0 #cbcbcb;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  margin-bottom: 15px;
  position: relative;
  min-height: 100px;
}

.flex1:first-child {
  margin-right: 0;
}

@media only screen and (min-device-width: 768px) and (-webkit-min-device-pixel-ratio: 1) {

  .container {
    display: flex;
    flex-direction: row;
  }

  .flex1:first-child {
    margin-right: 15px;
  }
}

@media only screen and (min-device-width: 960px) and (-webkit-min-device-pixel-ratio: 1) {
  .headerLink {
    width: 100%;
    height: 100px;
    display: inline-block;
    margin-top: 15px;
  }
}

